{% for case in ligne %}
    {# 2 paramètres du td renseignés par les tests si dessous : avion, avion du joueur, bloc couleur, enemy #}
    {% set class = '' %}
    {% set movable = '' %}

    {# Pour chaque case de la ligne en cours, on cherche si on a un enemy #}
    {% if case.content.idEnemy is defined %}
        {% if case.content.typeEnemy == 'php' %}
            {% set movable = asset('images/enemyPhp.png') %}
            {% set class = 'enemyPhp' %}
        {% endif %}

        {# sinon on cherche si on a un avion présent #}
    {% elseif case.content.idUser is defined %}
        {% set movable = asset('images/avion.png') %}
        {% set class = 'avion' %}

        {# Si on a un avion, on vérifie si c'est celui du joueur #}
        {% if app.session.get('userId') == case.content.idUser %}
            {% set class = class ~ ' my-plane' %}
        {% endif %}

        {# Sinon on cherche si c'est un bloc couleur #}
    {% elseif case.content.color is defined %}
        {% set class = 'couleur' ~ case.content.color %}

        {# On récupère la propriété status du contenu de la case si c'est un bloc couleur de status ALMOST
        ou GOOD, on màj la class du td afin de màj le CSS et de donner un indicateur visuel de status#}
        {% if case.content.status == constant('STATUS_ALMOST', case.content) %}
            {% set class = class ~ ' status-almost' %}
        {% elseif case.content.status == constant('STATUS_GOOD', case.content) %}
            {% set class = class ~ ' status-good' %}
        {% endif %}
    {% endif %}

    {# On crée la case avec la classe adaptée et la balise img si nécessaire,
    le raw signifie que le contenu est interprété et pas simplement affiché #}
    <td class="{{ class }}">
            {% if case.content.idEnemy is defined or case.content.idUser is defined %}
                <img src="{{ movable }}" alt="" />
            {% endif %}
    </td>
{% endfor %}
