<header>
    <div class = "row">
        <div class ="col-md-3">
            <img src="" alt="logo" title="Shoot The Code Logo" />
        </div>
        <div class = "col-md-9" id="userInfo">
        </div>
    </div>
    <!-- On utilise la nouvelle balise HTML5 "nav" pour indiquer un élement de navigation dans notre site -->
    <div class="navbar navbar-default">
        <nav>
            <ul class="nav navbar-nav">
                <li><a href="{{path('index')}}">Accueil</a></li>
                <li><a href="">Menu 2</a></li>
            </ul>
        </nav>
    </div>
</header>