<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <strong>Rejoindre une partie</strong>
        </div>
        <div class="modal-body">
            <table class="table table-striped text-center">
                {%if listGame is defined %}
                    <tr>
                        <td> <strong> Nom de la partie </strong> </td>
                        <td> <strong> Nombres de joueurs </strong> </td>
                        <td></td>
                    </tr>
                    {% for game in listGame %}
                        <tr>
                            <td> {{game.name}}  </td>
                            <td> {{game.users|length }}/{{game.maxPlayers}} </td>
                            <td> <a class="btn btn-primary" href="{{path('join', {'idGame':game.id})}}" role="button">Rejoindre</a></td>
                        </tr>
                    {% endfor  %}

                {% endif %}
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        </div>
    </div>
</div>
