<table  class="col-lg-9 col-lg-offset-1">
    {% if plateau is defined %}
        {% for ligne in plateau %}
            <tr>
                {% for case in ligne %}
                    {% set class = '' %}
                    {% set avion = '' %}
                
                    {% if case.content.idUser is defined %}
                        {% set avion = '<img src="' ~ asset('images/avion.png') ~ '" alt="Avion" />' %}
                        {% set class = 'avion' %}
                        {% if app.session.get('userId') == case.content.idUser %}
                            {% set class = class ~ ' my-plane' %}
                        {% endif %}
                    
                {% elseif case.content.color is defined %}
                    {% set class = 'couleur' ~ case.content.color %}
                    
                    {% if case.content.status == constant('STATUS_ALMOST', case.content) %}
                        {% set class = class ~ ' status-almost' %}
                    {% elseif case.content.status == constant('STATUS_GOOD', case.content) %}
                        {% set class = class ~ ' status-good' %}
                    {% endif %}
                {% endif %}
            
                <td class="{{ class }}">{{ avion|raw }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% else %}
        <div id="loading"><img src="{{ asset('images/hourglass.gif')}}" alt="Chargement ..."/></div>
        {% endif %}
</table>