{% if status == constant('StcBundle\\Entity\\Game::END_GAME') %}
    {% include 'StcBundle:Game:modalendgame.html.twig' with {'players': players, 'score' : score} %}
{% endif %}

{% if status == constant('StcBundle\\Entity\\Game::CURRENT_GAME') %}
    <script>
        function animationFond() {
            $('#fond').animate({"background-position-y": "0%"}, 8000, "linear").animate({"background-position-y": "100%"}, 0, animationFond);
        }
        function animationNuages() {
            $('#nuages').animate({"background-position-y": "0%"}, 5000, "linear").animate({"background-position-y": "100%"}, 0, animationNuages);
        }
        animationFond();
        animationNuages();
    </script>
{% endif %}

<table class="col-lg-9 col-lg-offset-1">
    {% for ligne in plateau %}
        {% set dataY = loop.index %}
        <tr>
            {% include 'StcBundle:Game:case.html.twig' with {'dataY': dataY } %}
        </tr>
    {% endfor %}

    {% if status == constant('StcBundle\\Entity\\Game::PENDING_GAME') %}
        <div id="loading">
            <img src="{{ asset('images/hourglass.gif')}}" alt="Chargement ..."/>
        </div>
    {% endif %}
</table>

<!-- Menu latéral -->
<div class="col-lg-1">
    <div class="row">
        <a href="{{path('index')}}">
            <img src="http://fakeimg.pl/87x87/?text=Accueil" alt="Accueil" title="Accueil" class="col-lg-12" id="jouer_accueil" />
        </a>
        <div class="col-lg-12" id="timer"></div>
        <div id="players" class="col-lg-12">
            {% include 'StcBundle:Game:players.html.twig' %}
        </div>

        <div id="powers">
            {% set power1 = '' %}
            {% for weapon in user_plane.getPowers %}
                {% if weapon == constant('BONUS_LASER', board) %}
                    {% set power1 = 'power-laser' %}
                {% endif %}
            {% endfor %}

            <img class="col-lg-12 power {{ power1 }}" src="http://fakeimg.pl/87x87/?text=Pouvoir_1" alt="Laser" title="Laser" />
            <img class="col-lg-12 power" src="http://fakeimg.pl/87x87/?text=Pouvoir_2" alt="Pouvoir 2" title="Pouvoir 2" />
            <img class="col-lg-12 power" src="http://fakeimg.pl/87x87/?text=Pouvoir_3" alt="Pouvoir 3" title="Pouvoir 3"  />
        </div>
    </div>
</div>
<!-- /Menu latéral -->

<script src="{{ asset('js/script.js') }}"></script>
<script>
    {% if status == constant('StcBundle\\Entity\\Game::END_GAME') %}
        clearInterval(pageRefresh);
        $('#fond').stop(true, false);
        $('#nuages').stop(true, false);
        $('#EndGameModal').modal();
        $(window).keypress(function (e) {
            e.preventDefault();
        });
    {% endif %}
</script>
