{% if status == constant('StcBundle\\Entity\\Game::END_GAME') %}
    {% include 'StcBundle:Game:modalendgame.html.twig' with {'players': players, 'score' : score} %}
{% endif %}

{% if status == constant('StcBundle\\Entity\\Game::CURRENT_GAME') %}
    <script>
        function animationFond() {
            $('#fond').animate({"background-position-y": "0%"}, 5000, "linear").animate({"background-position-y": "100%"}, 0, animationFond);
        }
        function animationNuages() {
            $('#nuages').animate({"background-position-y": "0%"}, 8000, "linear").animate({"background-position-y": "100%"}, 0, animationNuages);
        }
        animationFond();
        animationNuages();
    </script>
{% endif %}

<table class="col-lg-9 col-lg-offset-1">
    {% for ligne in plateau %}
        <tr>
            {% include 'StcBundle:Game:case.html.twig' %}
        </tr>
    {% endfor %}

    {% if status == constant('StcBundle\\Entity\\Game::PENDING_GAME') %}
        <div id="loading">
            <img src="{{ asset('images/hourglass.gif')}}" alt="Chargement ..."/>
        </div>
    {% endif %}
</table>

<script src="{{ asset('js/script.js') }}"></script>
<script>
    {% if status == constant('StcBundle\\Entity\\Game::END_GAME') %}
        clearInterval(pageRefresh);
        $('#fond').stop(true, false);
        $('#nuages').stop(true, false);
        $('#EndGameModal').modal();
        $(window).keypress(function (e) {
            e.preventDefault();
        });
    {% endif %}
</script>
