<table class="col-lg-9 col-lg-offset-1">
    {% for ligne in plateau %}
        {% set dataY = loop.index %}
        <tr>
            {% include 'StcBundle:Game:case.html.twig' with {'dataY': dataY } %}
        </tr>
    {% endfor %}

    {% if status == constant('StcBundle\\Entity\\Game::PENDING_GAME') %}
        <div id="loading">
            <img src="{{ asset('images/hourglass.gif')}}" alt="Chargement ..."/>
        </div>
    {% endif %}
</table>

{% if status == constant('StcBundle\\Entity\\Game::CURRENT_GAME') %}
    <script src="{{ asset('js/backgroundanimate.js') }}"></script>
{% endif %}

{% if status == constant('StcBundle\\Entity\\Game::END_GAME') %}
    <script>
        clearInterval(pageRefresh);
        $('#fond').stop(true, false);
        $('#nuages').stop(true, false);
        $('#EndGameModal').modal();
        $(window).keypress(function (e) {
            e.preventDefault();
        });
    </script>
    {% include 'StcBundle:Game:modalendgame.html.twig' with {'players': players, 'score' : score} %}
{% endif %}

<script src="{{ asset('js/script.js') }}"></script>
