<div class="row">
    <h1 class="col-sm-2 col-sm-offset-1">
        Scores
    </h1>
</div>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Joueur</th>
                    <th>Temps</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Yoshi</td>
                    <td>00:00:05</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Dorian</td>
                    <td>00:05:42</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Julien</td>
                    <td>04:46:10</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>